// global styles

html {
    height: 100%;
}

body {
    transition: transform 0.25s;
    background-color: $color-background;
    color: $color-body-font;
    font-family: "San Francisco", "Arial", "San-Serif";
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
    &.-lock {
        overflow: hidden;
        @media (max-width: $breakpoint-tablet) {
            position: fixed;
            width: 100%;
        }
    }
}

.throbber-full, .throbber-full--main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white url(../images/ui/ajax-loader.gif) 50% 50% no-repeat;
    z-index: 100;
    display: none;
}

.page-wrap {
    // min-height: 100%;
    // margin-bottom: -66px;
    padding-bottom: 100px;
    overflow: auto;
}

.hero-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 54px 20px 0;
}

.body-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 54px 20px 0;
}
.body-content_bullet {
    transition: all 0.25s;
    margin-bottom: 20px;
    line-height: 1.4;
    &.-indent {
        position: relative;
        padding-left: 40px;
    }
    .radio-button {
        transition: all 0.25s;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid black;
        display: none;
        &:before {
            display: none;
        }
        &.-selected {
            background-color: $color-selected-button;
            border: 1px solid $color-selected-button;
            &:before {
                padding-left: 2px;
                font-size: 14px;
                padding-top: 1px;
                color: white;
                display: block;
            }
        }
    }
}

// start hero styles
.hero__task-details {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}
.hero__task-profle {}
.hero__task-from {
    opacity: 0.7;
}
.-task-pending .-task-accepted {
    display: none;
}
.hero__task-details--meter {
    transition: all 0.25s;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
    &.-filled {
        background-color: white;
        opacity: 1;
    }
}

// end hero styles