// globals

// breakpoints
$breakpoint-slider: 764px;
$breakpoint-really-small-phone: 320px;
$breakpoint-small-phone: 375px;
$breakpoint-tablet: 550px;
// $breakpoint-smaller-phone: 390px;
// $breakpoint-small-phone: 442px;
// $breakpoint-phone: 490px;
// $breakpoint-tablet: 550px;
// $breakpoint-phablet: 640px;
// $breakpoint-footer: 750px;
// $breakpoint-air: 1000px;
// $breakpoint-big-tablet: 1120px;

// branded colors
$color-background: white;
$color-hero-font: white;
$color-body-font: #000000;
$color-body-font-alt: #a8a8a8;
$color-footer-background: #EFEFEF;
$color-pending-background: #FF496F;
$color-accepted-background: #FFBB62;
$color-completed-background: #11C194;
$color-slider-background: #3eaeff;
$color-slider-header: #3EAEFF;
$color-selected-button: #19B17C;
$color-radial-button-ring: #E4E4E4;
$color-radial-button-font: #979797;
$color-radial-button-hover: #11C194;

// comments
$color-comment-border: #E0E0E0;
$color-comment-heading: black;
$color-comment-text: #979797;

// forms
$color-input: #979797;

// buttons
$color-button: #000000;
$color-button-border: #000000;
$color-button-background: #EFEFEF;
$color-button-hover: white;

// action colors
